*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}



.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0, 0, 0, 255)),url(images/ozze_bg_sw.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 0px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box1{
    background: linear-gradient(rgba(0, 0, 0, 150), rgba(0, 0, 0, 0));
    width: 100%;
    height: 150px;
    position: absolute;
    top: 0;
    
}

.logo{
    width: 30%;
    height: 30%;
    position: relative;
    left: 0;
    top: -22%;
}

.ozee{
    width: 30%;
    height: 30%;
    position: relative;
    left: 0;
    top: -22%;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
text-decoration: none;
color: white;
text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: linear-gradient(to right, rgb(245, 239, 122), rgb(243, 239, 61));
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.content{
    color: white;
    width: 100%;
    position: absolute;
    top: 53%;
    transform: translateY(-50%);
    text-align: center;
    left: 0;
}

.content h1{
    font-size: 100px;
    margin-top: 20px;
    padding-top: 10%;
    font-family: Helvetica;
    font-weight: 200em;
}

.gradient{
    background: linear-gradient(to right, aqua, rgb(30, 80, 100));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}                                                                     /*Gradient Klasse zu Heading hinzufügen*/

.yellow{
    background: linear-gradient(to right, rgb(245, 239, 122), rgb(243, 239, 61));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

button{
    letter-spacing: 1px;
    border: none;
    outline: none;
    /*box-shadow: 0 5px 10px rgb(231, 228, 229);*/
    width: 200px;
    padding: 20px 0;
    text-align: center;
    margin: 30px 20px;
    border-radius: 30px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid rgb(245, 239, 122);
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 20px;
    transition: 0.3s;
}

span{ 
    background: #04B45F;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    
}

.button:hover a{
    background: linear-gradient(to right, rgb(245, 239, 122), rgb(243, 239, 61));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

button:hover{
    border: 2px solid white;
    background: #000000;
    border-color: rgb(243, 239, 61);
}

.button:active{
    transform: scale(0.9);
    
}
a{
    color: #fff;
    text-decoration: none;
}

.picture{
    width: 50%;
}

.icons{
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    position: fixed;
    z-index: 100;
}

.icons ul{
    padding: initial;
}

.icons ul li{
    height: 40px;
    width: 0%;
    list-style-type: none;
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 0px;
    margin-left: 0px;
    color: #fff;
    transition: 0.5s;
}

.instagram:hover{
    background: #E1306C;
    width: 100%;
    cursor: pointer;
}

.youtube:hover{
    background: #ff0000;
    width: 100%;
    cursor: pointer;
}

.spotify:hover{
    background: #1DB954;
    width: 100%;
    cursor: pointer;
}

.about{
    width: 100%;
    height: 200vh;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 200),rgba(0, 0, 0, 0)),url(images/sea.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.aboutcontent{
    /*border: 2px solid black;*/
    margin: auto;
    width: 90%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
    position: relative;
}

.aboutimage{
    width: 60vh;
    height: 60vh;
    position: relative;
}

.abouttext{
    border: 2px solid white;
    width: 60vh;
    height: 60vh;
    position: relative;
}

.abouttext h2{
    margin-bottom: 10px;
    
}

.abouttext h3{
    font-size: small;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bolder;
    color: rgb(243, 239, 61);
}

                                 

.musiccontent{
    border: 2px solid white;
    margin: auto;
    width: 90%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box2{
    width: 100%;
    height: 400px;
    background: linear-gradient(rgba(0,0,0,0), rgba(0, 0, 0, 200));
    position: absolute;
    bottom: 0px;
}

.flps{
    width: 100%;
    height: 130vh;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 200),rgba(0, 0, 0, 0)),url(images/ozze_schwarzenbach.jpg);
    background-position: center;
    background-size: cover;
}